layers/background.shp
layers/background.shx
layers/background.dbf
layers/background.prj
layers/background.cpg
layers/background.qpj
layers/gis_osm_*.shp
layers/gis_osm_*.shx
layers/gis_osm_*.dbf
layers/gis_osm_*.prj
layers/gis_osm_*.cpg
layers/README
layers/*.zip

osm-standard.qgs
osm-standard.qgs~
osm-standard.qgz
